@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Nunito&display=swap');


.container{
    background: rgb(149, 182, 215);
    // border: 1px solid red;
    width: 300px;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    // justify-content: center;
    border-radius: 10px;
    overflow: hidden;
  .nodata{
    font-family: 'Jost', sans-serif;
    font-size: 1.5rem;
    margin-top: 40px;
  }
    input{
        font-size: 1rem;
        font-family: 'Jost', sans-serif;
        font-weight: 500;
        width: 50%;
        height: 40px;
        border-radius: 30px;
        padding: 10px;
        outline: none;
    }

    .info{
        z-index: 5;
        font-family: 'Jost', sans-serif;
        text-align: center;
        .location{
           margin-top: 15vh;
            .address{
                font-family: 'Jost', sans-serif;
                font-size: 2.5rem;
                font-weight: 600;

                .fa-solid{
                    animation: street 3s infinite alternate-reverse;

                    @keyframes street {
                        from{
                            transform: translateX(-5px);
                        }
                        to{
                            transform: translateX(5px);
                        }
                        
                    }
                }
            }
        }
        .temperature{
            margin-top: 5vh;
        }
    }

    .wave{
        top: 25vh;
        position: absolute;
        width: 550px;
        height:550px;
        border-radius: 43%;
        background-color: azure;
        animation: drift 3000ms infinite linear;
        transform-origin: 50% 48%;
        z-index: 1;
        opacity: 0.3;

        @keyframes drift {
            from{
                transform: rotate(0deg);
            }
            to{
            transform: rotate(360deg);
            }
            
        }
    }

    .-two{
        opacity: 0.1;
        top: 28vh;
        animation: drift 5000ms infinite linear;

        @keyframes drift {
            from{
                transform: rotate(0deg);
            }
            to{
            transform: rotate(360deg);
            }
    }
}
.-three{
    opacity: 0.2;
    z-index: 3;
    animation: drift 7000ms infinite linear;

    @keyframes drift {
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(360deg);
        }
        
    }
}
}
